<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <style>
        /* .header {
            image:url("https://www.primephilippines.com/images/logo.png");
            height:70px;
            width:110%;
            margin:-10px;
        } */


        .title {
            font-size: 16px;
            -webkit-margin-before: 0.3em;
            -webkit-margin-after: 0.3em;
        }

        .item {
            -webkit-margin-before: 0em;
            -webkit-margin-after: 0em;
            font-size: 18px;
        }

        .con{
            width: 50%;
            margin: auto;
            padding-top: 2px;
            margin-top: 20px;;
            padding-left: 18px;
            padding-bottom: 20px;
        }
        
        .main{
            margin-bottom: 10px;
            font-size: 30px;
            color: #7F0B06;
        }
        

        body {
            margin: 0;
        }

        .field {
            border-bottom: 1px solid black;
            padding-bottom: 6px;
            margin-bottom: 6px;
        }
    </style>
</head>

<body>
    <div class="con">
        <div class="header">
            <p class="main"><b>Greatwork Inquiry</b></p>
        </div>
        <div class="content">
            <div class="field">
                <p class="title">
                    <b>Full Name:</b>
                </p>
                <p class="item">{{ $name }}</p>
            </div>
            <div class="field">
                <p class="title">
                    <b>Email:</b>
                </p>
                <p class="item">{{ $email }}</p>
            </div>
            <div class="field">
                <p class="title">
                    <b>Contact:</b>
                </p>
                <p class="item">{{ $contact }}</p>
            </div>
            <div class="field">
                <p class="title">
                    <b>Message:</b>
                </p>
                <p class="item">{{ $mes }}</p>
            </div>
        </div>
    </div>

</body>

</html>